@font-face {
  font-family: "Roboto";
  src: url(/assets/fonts/Roboto.ttf);
}
@font-face {
  font-family: "Forum";
  src: url(/assets/fonts/Forum.ttf);
}

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
a {
  text-decoration: none ;
}

.container {
  width: 1440px;
  padding: 75px 0px;
  margin: auto;
  min-height: 100px;
}
.dark-section {
  background-color: #030303;
  color: #ffffff;
}
.display-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-height {
  height: 150px;
}
.header-logo-wrapper {
  width: 199px;
}
.logo {
  min-width: 49px;
  min-height: 26px;
  transform: translate(0px, -4px);

  background-color: #ffffff;
  mask-image: url(/assets/svg/logo.svg);
  mask-size: cover;
}
.title {
  font-family: "Forum", serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.header-menu {
  width: 720px;

  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 2px;
  border: 0px solid green;
}

#video .section {
  padding: 90px 0px 75px;
}

a:link,
a:visited {
  color: #000000;
}
.dark-section a:link,
.dark-section a:visited {
  color: #ffffff;
}
.container a:hover {
  color: #9d8665;
  transition: 0.3s;
}
.container a:active {
  color: #7f6b4f
}

body:has(.header-logo-wrapper:hover)
.logo {
  background-color: #9d8665;
  transition: 0.3s;
}