:root {
    --gray: #989898;
}

#video .container {
    padding: 75px 0;
}
#video .video-header p {
    width: 50%;
}
#video .video-wrapper {
    display: relative;
}
#video .video-player__wrapper {
    padding-top: 75px;
}
#video .video-player {
    position: relative;
    height: 735px; /* 650 + 85 bar height */
}
#video .video-player video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video .video-player__action-bar {
    position: absolute;
    z-index: 1;
    padding: 0px 30px;
    bottom: 0px;
    height: 85px;
    width: 100%;
    color: white;
    background-color: var(--bg-dark); /* it must be black but fuck it */
    text-align: center;
}
#video .video-player__action-bar #play-button {
    width: 23px;
    height: 31px;
    object-fit: contain;
}
#video .video-player__action-bar #volume-button {
    width: 38px;
    height: 31px;
    object-fit: contain;
}
#video .video-player__action-bar #fullscreen-button {
    height: 35px;
}
#video .video-player__action-bar .bar {
    appearance: none;
    height: 8px;
}
#video .video-player__action-bar #progress-bar {    
    background: linear-gradient(to right, var(--dark-red) 0%, var(--dark-red) 1%, #C4C4C4 1%, #C4C4C4 100%);
    height: 8px;
    width: 929px;
}
#video .video-player__action-bar #volume-bar {
    background: linear-gradient(to right, var(--dark-red) 0%, var(--dark-red) 50%, #C4C4C4 50%, #C4C4C4 100%);
    width: 155px;
}
#video .video-player__action-bar .bar::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--white);
    appearance: none;
}
#video .video-link__wrapper {
    column-gap: 42px;
    padding: 40px 0;
}
#video .video-link__wrapper .video-link {
    position: relative;
    width: 452px;
    height: 254px;
}
/* #video .video-link__wrapper .video-link::after {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    min-width: 68px;
    min-height: 48px;
    align-self: center;
    background-image: url(../assets/svg/play_youtube.svg);
} */
#video .video-link__wrapper .video-link:last-child {
    display: none;
}
#video .video-link__wrapper .video-link > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video .video-wrapper__slider-dots {
    display: absolute;
    bottom: 0;
    width: 200px;
    height: 8px;
    margin: auto;
    background-color: var(--gray);
}

@media (max-width: 1480px) {
    #video .container {
        padding: calc(3.29vw + 26.32px) 0; /*75-60 until w1024*/
    }
    #video .video-player__wrapper {
        padding-top: calc(7.68vw - 38.6px); /*75-40 until w1024*/
    }
    #video .video-player {
        height: calc(50.66vw - 14.74px); /*735-504 until w1024*/
    }
    #video .video-player__action-bar #volume-button {
        width: calc(2.63vw - 0.95px); /*38-26 until w1024*/
        height: calc(2.41vw - 4.7px); /*31-20 until w1024*/
    }
    #video .video-player__action-bar #fullscreen-button {
        height: calc(1.97vw + 5.79px); /*35-26 until w1024*/
    }
    #video .video-player__action-bar {
        height: calc(3.29vw + 26.32px); /*75-60 until w1024*/
    }
    #video .video-player__action-bar #progress-bar {
        width: calc(80.04vw - 255.65px); /*929-564 until w1024*/
    }
    #video .video-player__action-bar #volume-bar {
        width: calc(2.63vw + 116.05px); /*155-143 until w1024*/
    }
    #video .video-link__wrapper .video-link {
        width: calc(33.33vw - 55.33px);
        height: calc(18.42vw - 18.63px); /*254-170 until w1024*/
    }
} /* no 1024 - 768 was done to controls due to position change magic */
@media (max-width: 1024px) {
    #video .container {
        padding: calc(7.81vw - 20px) 0; /*60-40 until w768*/
    }
    #video .video-player__wrapper {
        padding-top: calc(7.81vw - 40px); /*40-20 until w768*/
    }
    #video .video-header p {
        display: none;
    }
    #video .video-player {
        height: calc(46.09vw + 32px); /*504-386 until w768*/
    }
    #video .video-player__action-bar {
        height: calc(2.73vw + 32px); /*60-53 until w768*/
    }
    #video .video-player__action-bar #play-button {
        height: 30px;
    }
    #video .video-player__action-bar #volume-button {
        width: 26px;
        height: 20px;
    }
    #video .video-player__action-bar #volume-button {
        width: 26px;
        height: 20px;
    }
    #video .video-player__action-bar #fullscreen-button {
        height: 26px;
    }
    #video .video-player__action-bar .bar {
        height: 5px;
    }
    #video .video-player__action-bar #progress-bar {
        width: calc(25.00vw + 294px); /*564-486 until w768*/
    }
    #video .video-player__action-bar #volume-bar {
        display: none;
    }
    #video .video-link__wrapper {
        column-gap: calc(8.59vw - 46px); /*42-20 until w768*/
    }
    #video .video-link__wrapper .video-link {
        width: calc(27.5vw + 17.3px);
        height: calc(11.72vw + 50px); /*170-140 until w768*/
    }
    #video .video-wrapper__slider-dots {
        width: calc(3.91vw + 160px); /*200-190 until w768*/
    }
}
@media (max-width: 768px) {
    #video .container {
        padding: calc(1.15vw + 31.17px) 0 40px; /*40-36 until w420*/
    }
    #video .video-player__wrapper {
        padding-top: 20px;  
    } 
    #video .video-player {
        height: calc(45.98vw + 32.9px); /*386-226 until w420*/
    }
    #video .video-player__action-bar {
        height: calc(0.86vw + 46.38px); /*53-50 until w420*/
        padding: 0 calc(2.87vw + 7.93px); /*30-20 until w420*/
    }
    #video .video-player__action-bar #play-button {
        width: calc(2.59vw + 3.14px); /*23-14 until w420*/
        height: 3calc(3.16vw + 4.72px); /*29-18 until w420*/
    }
    #video .video-player__action-bar #volume-button {
        width: calc(2.59vw + 7.14px); /*27-18 until w420*/
        height: calc(2.01vw + 5.55px); /*21-14 until w420*/
    }
    #video .video-player__action-bar #fullscreen-button {
        height: calc(2.30vw + 8.34px); /*26-18 until w420*/
    }
    #video .video-player__action-bar #progress-bar {
        width: calc(82.18vw - 145.17px); /*486-200 until w420*/
    }
    #video .video-link__wrapper {
        column-gap: 20px;
    }
    #video .video-link__wrapper .video-link {
        width: calc(50vw - 30px);
        height: calc(28.16vw - 17.28px); /*199-101 until w420*/
    }
    #video .video-link__wrapper .video-link:has( + .video-link:last-child) {
        display: none;
    }
    #video .video-wrapper__slider-dots {
        width: calc(4.60vw + 154.69px); /*190-174 until w420*/
    }
}
@media (max-width: 420px) {
    #video .video-player__action-bar .bar {
        height: 4px;
    }
}